<!DOCTYPE html>
<html>
	<head>
		<title>Cs232demo</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="welcome">
			
			<div class="content">
				<div id="left_div">
					<h3>ccsf_rails</h3>
				</div>

				<div id="right_div">
					<h3><%= Time.now.strftime("%m/%d/%Y")  %></h3>
				</div>
			</div>
			
			<p>
				<%= link_to "INDEX", :controller => "ccsf_rails", :action => "index" %>
				<%= link_to "LINKS", :controller => "ccsf_rails", :action => "links" %>
				<%= link_to "ABOUT", :controller => "ccsf_rails", :action => "about" %>
			</p>

			<%= yield %>

		</div>

	</body>
</html>
